.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.clicker{
  width:200px;
  height: 200px;
  font-size: 24px;
}

.user-counter{
  padding: 5px;
  background: black;
  color: white;
  margin-bottom: 50px;
}

body {
  background-color: rgb(245, 245, 245);
}

nav {
  background-color: darkgray;
}

nav a {
  padding: 1em;
  transition-duration: 0.3s;
  color: lightgray;

  display: inline-block;

  background-color: darkgray;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  color: black;
  background-color: lightgray;
}

.ref h1 {
  margin-left: 1em;
}

.ref h2 {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}

.pros-container {
  margin-left: 1em;
  margin-right: 1em;

  margin-bottom: 1em;

  padding: 1em;
  padding-left: 2em;

  border-radius: 5px;
  background-color: rgb(157, 255, 157);
  box-shadow: -6px 6px 16px #c1c1c1
}

.pros-container input {
  border: none;
  font-size: 1em;
  background-color: rgb(157, 255, 157);
}

.cons-container {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;

  padding: 1em;
  padding-left: 2em;

  border-radius: 5px;
  background-color: rgb(255, 148, 148);
  box-shadow: -6px 6px 16px #c1c1c1
}

.cons-container input {
  border: none;
  font-size: 1em;
  background-color: rgb(255, 148, 148);
}

.reflection-container {
  margin-left: 1em;
  margin-right: 1em;

  padding: 1em;
  padding-left: 2em;

  border-radius: 5px;
  background-color: rgb(168, 255, 251);
  box-shadow: -6px 6px 16px #c1c1c1
}

.line-item {
  border-bottom: 2px;
  border-color: black;
}

.finish-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  
  font-weight: bold;
  background-color: #cda1ff;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}

.add-button {
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 0.25em 1em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}